<%= form_for (@taggable) do |f| %>
<div class="row">
  <div class="span12">
    <h1>Tagging</h1>


    <canvas id="imgCanvas" width="600" height="400">
	Your browser doesn't support HTML5
    </canvas>
    <script type="text/javascript">
      var c=document.getElementById("imgCanvas");
      var ctx=c.getContext("2d");
      var img=new Image();
      img.onload = function(){
         ctx.lineWidth   = 2;
         ctx.strokeStyle = "#fff000";
         ctx.fillStyle = "#fff000";
         ctx.drawImage(img,0,0);
         <% i= 1 %>
         <%@tags.each do |tag| %>
            ctx.fillText(<%=i.to_s%>, <%=tag.upperLeftX %>, <%=tag.upperLeftY %>);
            <% i+=1%>
	    ctx.strokeRect(<%=tag.upperLeftX%>,  
	    <%=tag.upperLeftY%>,
	    <%= tag.lowerRightX - tag.upperLeftX %>,
	    <%= tag.lowerRightY - tag.upperLeftY %>);
      <%end%>
      
      };
      img.src="<%= @url_path %>";
   </script>

   <h3>People in this photo:</h3>
   <ol>
      <%= f.fields_for :tags do |tag| %>
         <li><%= tag.text_field :person %></li>
      <%end%>
   </ol>

  <div class="actions">
    <%= f.submit %>
  </div>

  </div>
</div>

<%end%>
