<h1>Listing taggables</h1>



      <tr>
	<th>Photo</th>
	<th></th>
	<th></th>
	<th></th>
      </tr>
      
      <% @taggables.each do |taggable| %>

      <div class="row">
	<div class="span4">
    
      <tr>
	<td><%= image_tag taggable.photo.url(:small) %></td>
	<td><%= link_to 'Edit', edit_taggable_path(taggable), :class => "btn
	  btn-primary" %></td>
	<td><%= link_to 'Show', taggable, :class => "btn" %></td>
	<td><%= link_to 'Destroy', taggable, confirm: 'Are you sure?', method:
	    :delete, :class => "btn" %></td>
     </tr>

      </div>
      </div>
      <br>
      <% end %>
    

    <br />

    <%= link_to 'New Taggable', new_taggable_path %>

