<h1>Listing taggables</h1>

<table>
  <tr>
    <th>Img url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @taggables.each do |taggable| %>
  <tr>
    <td><%= taggable.img_url %></td>
    <td><%= link_to 'Show', taggable %></td>
    <td><%= link_to 'Edit', edit_taggable_path(taggable) %></td>
    <td><%= link_to 'Destroy', taggable, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Taggable', new_taggable_path %>
